        <div class="col-sm-push-2 col-sm-8 tab-pane" id="administration">
        	<div class="row">
        		<div class="col-md-4">
        			<h3>Customers <small class="sorting"><a href="#"><span class="glyphicon glyphicon-sort"></span></a></small></h3>
        			<div class="list-group">
        			  <a href="#" class="list-group-item active">Cras justo odio</a>
        			  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
        			  <a href="#" class="list-group-item">Morbi leo risus</a>
        			  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
        			  <a href="#" class="list-group-item">Vestibulum at eros</a>
        			  <div class="list-group-item">
        			  	<div class="input-group">
    			  	      <input type="text" class="form-control" placeholder="New Item">
    			  	      <span class="input-group-btn">
    			  	        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button>
    			  	      </span>
    			  	    </div>
        			  </div>
        			</div>
        		</div>
        		<div class="col-md-4">
        			<h3>Projects <small class="sorting"><a href="#"><span class="glyphicon glyphicon-sort"></span></a></small></h3>
        			<div class="list-group">
        			  <a href="#" class="list-group-item">Cras justo odio</a>
        			  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
        			  <a href="#" class="list-group-item active">Morbi leo risus</a>
        			  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
        			  <a href="#" class="list-group-item">Vestibulum at eros</a>
	      			  <div class="list-group-item">
	      			  	<div class="input-group">
	  			  	      <input type="text" class="form-control" placeholder="New Item">
	  			  	      <span class="input-group-btn">
	  			  	        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button>
	  			  	      </span>
	  			  	    </div>
	      			  </div>
        			</div>
        		</div>
        		<div class="col-md-4">
        			<h3>Tasks <small class="sorting"><a href="#"><span class="glyphicon glyphicon-sort"></span></a></small></h3>
        			<div class="list-group">
        			  <a href="#" class="list-group-item">Cras justo odio</a>
        			  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
        			  <a href="#" class="list-group-item">Morbi leo risus</a>
        			  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
        			  <a href="#" class="list-group-item">Vestibulum at eros</a>
	      			  <div class="list-group-item">
	      			  	<div class="input-group">
	  			  	      <input type="text" class="form-control" placeholder="New Item">
	  			  	      <span class="input-group-btn">
	  			  	        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span></button>
	  			  	      </span>
	  			  	    </div>
	      			  </div>
        			</div>
        		</div>
        	</div>
        </div>