<div class="row">
    <div class="btn-toolbar col-md-8"  style="margin: 0;">
        <!-- Export -->
        <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">Export <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <!--<li><a href="#" ng-click="exportXml()">XML</a></li>-->
                <li><a href="" ng-click="exportCsv()">CSV</a></li>
                <li><a href="" ng-click="exportCsv()">XML</a></li>
            </ul>
        </div>

        <!-- Select Columns -->
        <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">Columns <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li ng-repeat="col in taskColumns">
                    &nbsp;&nbsp;&nbsp;
                    <input type="checkbox" ng-model="col.visible" >
                    <span>{{col.name}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control " placeholder="Filter text" ng-model="filterText"></text>
    </div>
</div>




    </br>

    <!--
    <div class="form-group" style="margin: 0;">

        <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">{{selectedFilterColumn.name}} <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li ng-repeat="col in taskColumns">
                    <a href="" ng-click="setSelectedFilterColumn(col)">{{col.name}}</a>
                </li>
            </ul>

        </div>

    </div> -->


    <div class="container">
        <table class="table table-hover" id="exportTable">
            <thead>
            <tr>
                <td ng-repeat="col in visibleColumns()">
                    <b>{{col.name}}</b>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in tasks | filter:matchFilter">
                <td ng-repeat="col in visibleColumns()">
                    {{col.getValue(task)}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

