<div class="bs-docs-example">
    <div class="btn-toolbar" style="margin: 0;">
        <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">Export <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <!--<li><a href="#" ng-click="exportXml()">XML</a></li>-->
                <li><a href="#" ng-click="{{exportCsv()}}">CSV</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">Columns <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li ng-repeat="col in taskColumns">
                    &nbsp;&nbsp;&nbsp;
                    <input type="checkbox" ng-model="col.visible" >
                    <span>{{col.name}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <table class="table table-striped">
        <table class="table" id="exportTable">
            <thead>
            <tr>
                <td ng-repeat="col in visibleColumns()">
                    {{col.name}}
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in tasks">
                <td ng-repeat="col in visibleColumns()">
                    {{col.getValue(task)}}
                </td>
            </tr>
            </tbody>
        </table>
    </table>
</div>

